# Node.js dependencies
/node_modules
/npm-debug.log
/yarn-error.log
/pnpm-debug.log

# Angular build output
/dist
/out-tsc

# Angular specific
/.angular/cache
/.angular/language-service

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Operating system files
.DS_Store
Thumbs.db

# Compiled JavaScript and TypeScript files
*.js
*.d.ts
*.js.map

# Temporary files and logs
*.log
*.temp
*.tmp
*.swp

# Other
/.sass-cache
/.firebase
*.bak
*.backup
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
