<app-header />

<main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user 
      [id]="user.id"
      [avatar]="user.avatar" 
      [name]="user.name"
      (userComponentEmmiter)="onSelectedUser($event)"
      />
    </li>
  </ul>

  <!-- for a clicked user show assigned task. -->
   <app-tasks [selectedUserName]="selectedUser? selectedUser.name :  '' "/> <!-- if selectedUser is there you use it else use undefined -->
<!--here you say if selected user is not prenset/undefined set it to empty string  '' selectedUser? selectedUser.name-->


</main>
