<app-header />

<main>
  <ul id="users">
    <!-- what is track keyword, we give a key which is unique to render the users, here every id is uniq -->
    @for ( user of users; track user.id){
    <li>
      <app-user 
     [user]="user"
      (userComponentEmmiter)="onSelectedUser($event)"
      />
    </li>
  }
  </ul>

  <!-- for a clicked user show assigned task. -->
   <app-tasks [selectedUserName]="selectedUser? selectedUser.name :  '' "/> <!-- if selectedUser is there you use it else use undefined -->
<!--here you say if selected user is not prenset/undefined set it to empty string  '' selectedUser? selectedUser.name-->


</main>
