<app-header />

<main>
  <ul id="users">
    <!-- what is track keyword, we give a key which is unique to render the users, here every id is uniq -->
    @for ( user of users; track user.id){
    <li>
      <app-user [user]="user" (userComponentEmmiter)="onSelectedUser($event)" />
    </li>
    }
  </ul>

  <!--if selected user is selected or present i.e not undefined, you can use if, else-->
  @if (selectedUser) {
  <app-tasks [selectedUserName]="selectedUser ? selectedUser.name : ''" />
  <!-- if selectedUser is there you use it else use undefined -->
  <!--here you say if selected user is not prenset/undefined set it to empty string  '' selectedUser? selectedUser.name-->
  }@else {
    <p id="fallbackContent">Select a user to see their app-tasks</p>
  }
</main>
